<div class="content">
<h2>Current Wikis</h2>
<div class="publicContent">
<% if current_user %>
<%= link_to("Create a Wiki", new_wiki_path, id: 'styled_button',class: 'linkButton') %>
<% end %>
   <% @wikis.each do |wiki| %>
     <% if wiki.private == true %>
       <div class="indexLinks private"><%= link_to wiki.title, wiki %> <span class="smaller">Created by 
         <% if wiki.user.name == nil %>
           <%= wiki.user.email %></span></div>
         <% else %>
           <%= wiki.user.name %></span></div>
         <% end %>
      <% else %>
       <div class="indexLinks public"><%= link_to wiki.title, wiki %> <span class="smaller">Created by 
         <% if wiki.user.name == nil %>
           <%= wiki.user.email %></span></div>
         <% else %>
           <%= wiki.user.name %></span></div>
         <% end %>
      <% end %>
   <% end %>
      <%=  will_paginate %>
</div>
</div>
