<div class="content">
  <div class="splitContentLeft">
    <div class="wikiState">
    <h1><%= @wiki.title %></h1>
    <p><%= markdown_to_html @wiki.body %></p>
    <hr>
     <% if @wiki.user.name == nil %>
       <p>Created by <%= @wiki.user.email %></p>
     <% else %>
       <p>Created by <%= @wiki.user.name %></p>
       <p>Last edited by <%= @last_modified %></p>
     <% end %>
    </div>
     <% if @wiki.users.count > 0 %> 
     <h4> Collaborators </h4>
         <% @wiki.users.each do |collaborator| %>
         <%= hide_email(collaborator.email) %><br>
         <% end %>
      <% end %>
<%# if current_user && current_user.id  == @wiki.user.id %>
     <% if policy(@wiki).destroy? %>
       <p><%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete the Wiki?' } %></p>
     <% end %>
  </div>

<% if policy(@wiki).update? %>
  <div class="splitContentRight">
        <%= form_for @wiki do |f| %>
          <p><%= f.label :title %><br>
          <%= f.text_field :title, placeholder: ' @wiki.title' %></p>
          <p><%= f.label :body %><br>
          <%= f.text_area :body, rows: 8, placeholder: '@wiki.description' %></p>
          <%= f.hidden_field :modified_by, :value => current_user.id %>
            <% if current_user.role != 'standard' %>
              <%= f.label :private, class: 'checkbox' do %>
              Private Wiki <%= f.check_box :private %> 
              <% end %>
            <% end %>
        <%= f.submit "Edit" %>
      <% end %>

      <% if @wiki.private == true %>
      <div class="addCollaborators">
        <%= form_tag add_collaborator_path , method: :post do %>
        <%= hidden_field_tag :wiki_id, @wiki.id %>
        <%= hidden_field_tag 'wiki[user_ids][]', nil %>
        <% @users.each do |user| %>
            <% if user.role != 'admin' %>
              <%= check_box_tag :user_ids, user.id, @wiki.users.include?(user), name: 'wiki[user_ids][]', class: 'collabChecks'%>
            <%= label_tag hide_email(user.email) %>
            <%= submit_tag "Add Collaborator" %>
            <% end %>
          <% end %>
          <%#= submit_tag "Add Collaborators", id: 'collabBtn' %>
        </div>
        <% end %>
    <% end %><!--END COLLABORATORS-->
<% end # Policy Update End%>
</div>
</div>