<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<h2 id="blocLogo">Blocipedia Logo</h2>
<ul class="topNav">
<li><%= link_to("Browse Wikis", @wikis_index_path) %></li>
</ul>

<% if current_user %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Log In", new_user_session_path%>
<% end %>
</header>
       <div class="notice"><%= notice %></div>
       <div class="alert"><%= alert %></div>
<%= yield %>

</body>
</html>
