<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2 id="blocLogo">Blocipedia Logo</h2>
    <ul class="topNav">
      <li><%= link_to("Browse Wikis", '/') %></li>
        <% if current_user && current_user.role != 'premium' %>
          <li><%= link_to("Upgrade to Pro", new_charge_path) %> </li>
        <% end %>
      
        <% if current_user && current_user.role == 'premium' %>
          <li> <%= link_to "Downgrade your Account", controller: "user", action: "downgrade", data: { confirm: 'Are you sure? Downgrading will render all of your Private Wikis Public!' }  %></li>
        <% end %>
    </ul>

    <div class='logButton'>
     <% if current_user %>
       <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
     <% else %>
       <%= link_to "Log In", new_user_session_path %> <%= link_to "Sign Up", new_user_registration_path %>
     <% end %>
    </div>
  </header>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
      <% elsif flash[:alert] %>
       <div class="alert">
         <%= alert %>
       </div>
  <% end %>
<%= yield %>

</body>
</html>
